# snap모델에 적용하기 위한 데이터 전처리
- center_user를 중심으로 수집된 id목록에서 각각의 id들에 고유인덱스 붙여주기
- {id : id_index} 사전생성 -> id에 매칭하는 id_index를 snap에서 input data로 활용

In [99]:
import pandas as pd
import numpy as np

In [100]:
df = pd.read_csv(r'C:\Users\haech\Desktop\insta_project_data\gw_2.csv')

In [101]:
df

             start          end
0       6947073237  13624490327
1      13624490327   7964987666
2       4516509236   5681987893
3       2170592442   5681987893
4      25228228259   5681987893
...            ...          ...
12904   1465325432   1469939130
12905   1465325432   1553528493
12906   1465325432   1595354931
12907   1465325432   3657930948
12908   1465325432   3066632485

[12909 rows x 2 columns]

In [102]:
# start칼럼 추출
start_df = df.drop('end', axis =1)

In [103]:
start_ls = list(np.unique(start_df))
len(start_ls)

4741

In [104]:
# end칼럼 추출
end_df = df.drop('start', axis =1)

In [105]:
end_ls = list(np.unique(end_df))
len(end_ls)

5642

In [106]:
# unique id목록 list
id_ls = start_ls + end_ls
id_uni_ls = list(np.unique(id_ls))

In [107]:
len(id_uni_ls)

7707

## {id : idx} 사전 생성

In [108]:
from collections import defaultdict

In [109]:
def id_to_dict(id_ls):
    #고유 id와 인덱스를 매칭시켜주는 사전 생성
    id2idx_dic = defaultdict(lambda: len(id2idx_dic))

    for ide in id_ls:
        id2idx_dic[ide]

    for i, v in enumerate(id_ls):
        index = id2idx_dic[v]

In [110]:
id_to_dict(id_ls)

In [112]:
len(id2idx_dic)

7707

## id를 사전에서 매칭되는 index값으로 변경
- id -> index값으로 변경한 후, start와 end를 txt파일로 저장하기

In [53]:
df # 처리 전

             start          end
0       6947073237  13624490327
1      13624490327   7964987666
2       4516509236   5681987893
3       2170592442   5681987893
4      25228228259   5681987893
...            ...          ...
12904   1465325432   1469939130
12905   1465325432   1553528493
12906   1465325432   1595354931
12907   1465325432   3657930948
12908   1465325432   3066632485

[12909 rows x 2 columns]

In [70]:
for i,v in enumerate(df['start']):
    for (key, elem) in id2idx_dic.items():
        if v == key:
            df['start'][i] = elem

In [72]:
for i,v in enumerate(df['end']):
    for (key, elem) in id2idx_dic.items():
        if v == key:
            df['end'][i] = elem

In [73]:
df # 처리 후

       start   end
0       3156  4088
1       4088  7152
2       2471  2779
3       1439  2779
4       4375  2779
...      ...   ...
12904    642   652
12905    642  5715
12906    642   857
12907    642  2149
12908    642  6394

[12909 rows x 2 columns]

In [74]:
df.to_csv('gw_start_end.txt', index=False, header=None, sep="\t")

## 커뮤니티 리스트의 index를 다시 id로 변환

In [84]:
Community_11 = [6121, 5092, 2084, 1688, 7186, 6340, 7597, 6544, 5110, 5914, 6087, 6381, 2576,
               4657, 4658, 3880, 784, 4631, 4581, 4378, 1214, 4364, 4257, 1087, 4063, 602, 3215,
               1600, 3698, 1864, 3558, 2811, 3498, 3183, 1209, 3279, 1607, 1066, 828, 1522, 1789,
               2501, 2346, 2221, 855, 1992, 1972, 1293, 1776, 1896, 5645, 7052, 7205, 7622, 6141,
               5870, 5923, 7536, 7139, 5240, 6085, 6680, 7227, 6138, 5209, 5569, 7469, 7260, 6054,
               5666, 5485, 6327, 5792, 6696, 6251, 6318, 7351, 6241, 6117, 6660, 6162, 7271, 7003,
               6918, 6570, 7437, 7235, 6000, 5676, 7135, 5661, 5702, 6289, 5543, 6860, 6345, 5759,
               5550, 5210, 6446, 6836, 5345, 7192, 7189, 6874, 7105, 6940, 6031, 5104, 6848, 5397,
               5282, 5097, 6685, 5919, 6463, 5628, 6844, 6198, 6083, 5760, 5326, 6346, 6295, 5640,
               5328, 6538, 5117, 4750, 5122, 4748, 5065, 6134, 1616, 5570, 6265, 5794, 6161, 5382,
               5171, 6172, 5338]
len(Community_11)

142

In [95]:
def transform_id(ls, dictionary):
    for i,idx in enumerate(ls):
        for (key, elem) in dictionary.items():
            if idx == elem:
                ls[i] = key
    return ls

In [98]:
transform_id(Community_11, id2idx_dic)

[2107411892,
 494549561,
 3544466817,
 2427499074,
 8143941921,
 2920560812,
 29471359997,
 3797542433,
 532606451,
 1773729536,
 2067777795,
 3030430463,
 4803416099,
 37929419203,
 37952417331,
 10705124203,
 1552091689,
 36325953798,
 33513192535,
 25472301160,
 1958859433,
 24805113155,
 19111152891,
 1773493550,
 13265448452,
 1443263155,
 7120750999,
 2298701655,
 8791125347,
 3071585233,
 8429067064,
 5747895992,
 8205955183,
 7023452561,
 1956471396,
 7389269895,
 2305676287,
 1751495837,
 1571118949,
 2252442444,
 2945790184,
 4619390001,
 4188291969,
 3951410066,
 1595218661,
 3261853870,
 3239043960,
 2023927618,
 2930442996,
 3111939252,
 1507979106,
 7134502094,
 8272341489,
 31446261160,
 2130531223,
 1723077843,
 1785148860,
 22081457271,
 7791578310,
 904407922,
 2065956624,
 4459284299,
 8493323021,
 2127258743,
 745012853,
 1450229153,
 16940403748,
 8931052947,
 2032465180,
 1522771941,
 1416240305,
 2865869343,
 1635461735,
 4550136434,
 2307331080,
 2720409774,
 11442854912,
 2298081896,
 2103418442,
 4329641240,
 2204336350,
 9139813492,
 6833999069,
 6119440984,
 3972047606,
 14891710183,
 8533508598,
 1951535536,
 1529515624,
 7753180915,
 1520758718,
 1544451136,
 2475299087,
 1442239306,
 5798583245,
 2930239032,
 1587512065,
 1444784492,
 745039200,
 3240818176,
 5676616709,
 1210259945,
 8186754865,
 8166556509,
 5863186705,
 7463763449,
 6312169697,
 1999497300,
 523620453,
 5746701289,
 1313067660,
 1072315070,
 504890596,
 4489774715,
 1777081113,
 3306694736,
 1492118997,
 5725064861,
 2246319280,
 2065350619,
 1588655944,
 1162450948,
 2932733903,
 2521579314,
 1501612707,
 1165013510,
 3721024700,
 537501571,
 1828777,
 545774776,
 1500342,
 451014727,
 2122837846,
 2313725992,
 1450533285,
 2327193626,
 1638103600,
 2200675275,
 1289907731,
 615329659,
 2213750563,
 1202004193]