# snap모델에 적용하기 위한 데이터 전처리
- center_user를 중심으로 수집된 id목록에서 각각의 id들에 고유인덱스 붙여주기
- {id : id_index} 사전생성 -> id에 매칭하는 id_index를 snap에서 input data로 활용

In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.read_csv(r'C:\Users\haech\Desktop\insta_project_data\gw_2.csv')

In [3]:
df

             start          end
0       6947073237  13624490327
1      13624490327   7964987666
2       4516509236   5681987893
3       2170592442   5681987893
4      25228228259   5681987893
...            ...          ...
12904   1465325432   1469939130
12905   1465325432   1553528493
12906   1465325432   1595354931
12907   1465325432   3657930948
12908   1465325432   3066632485

[12909 rows x 2 columns]

In [4]:
# start칼럼 추출
start_df = df.drop('end', axis =1)

In [5]:
start_ls = list(np.unique(start_df))
len(start_ls)

4741

In [6]:
# end칼럼 추출
end_df = df.drop('start', axis =1)

In [7]:
end_ls = list(np.unique(end_df))
len(end_ls)

5642

In [8]:
# unique id목록 list
id_ls = start_ls + end_ls
id_uni_ls = list(np.unique(id_ls))

In [9]:
len(id_uni_ls)

7707

## {id : idx} 사전 생성

In [10]:
from collections import defaultdict

In [11]:
def id_to_dict(id_ls):
    #고유 id와 인덱스를 매칭시켜주는 사전 생성
    id2idx_dic = defaultdict(lambda: len(id2idx_dic))

    for ide in id_ls:
        id2idx_dic[ide]

    for i, v in enumerate(id_ls):
        index = id2idx_dic[v]

    return id2idx_dic

In [12]:
id2idx_dic = id_to_dict(id_ls)

In [15]:
len(id2idx_dic)

7707

## id를 사전에서 매칭되는 index값으로 변경
- id -> index값으로 변경한 후, start와 end를 txt파일로 저장하기

In [53]:
df # 처리 전

             start          end
0       6947073237  13624490327
1      13624490327   7964987666
2       4516509236   5681987893
3       2170592442   5681987893
4      25228228259   5681987893
...            ...          ...
12904   1465325432   1469939130
12905   1465325432   1553528493
12906   1465325432   1595354931
12907   1465325432   3657930948
12908   1465325432   3066632485

[12909 rows x 2 columns]

In [70]:
for i,v in enumerate(df['start']):
    for (key, elem) in id2idx_dic.items():
        if v == key:
            df['start'][i] = elem

In [72]:
for i,v in enumerate(df['end']):
    for (key, elem) in id2idx_dic.items():
        if v == key:
            df['end'][i] = elem

In [73]:
df # 처리 후

       start   end
0       3156  4088
1       4088  7152
2       2471  2779
3       1439  2779
4       4375  2779
...      ...   ...
12904    642   652
12905    642  5715
12906    642   857
12907    642  2149
12908    642  6394

[12909 rows x 2 columns]

In [74]:
df.to_csv('gw_start_end.txt', index=False, header=None, sep="\t")

## 커뮤니티 리스트의 index를 다시 id로 변환

In [17]:
Community_11 = [6121, 5092, 2084, 1688, 7186, 6340, 7597, 6544, 5110, 5914, 6087, 6381, 2576,
               4657, 4658, 3880, 784, 4631, 4581, 4378, 1214, 4364, 4257, 1087, 4063, 602, 3215,
               1600, 3698, 1864, 3558, 2811, 3498, 3183, 1209, 3279, 1607, 1066, 828, 1522, 1789,
               2501, 2346, 2221, 855, 1992, 1972, 1293, 1776, 1896, 5645, 7052, 7205, 7622, 6141,
               5870, 5923, 7536, 7139, 5240, 6085, 6680, 7227, 6138, 5209, 5569, 7469, 7260, 6054,
               5666, 5485, 6327, 5792, 6696, 6251, 6318, 7351, 6241, 6117, 6660, 6162, 7271, 7003,
               6918, 6570, 7437, 7235, 6000, 5676, 7135, 5661, 5702, 6289, 5543, 6860, 6345, 5759,
               5550, 5210, 6446, 6836, 5345, 7192, 7189, 6874, 7105, 6940, 6031, 5104, 6848, 5397,
               5282, 5097, 6685, 5919, 6463, 5628, 6844, 6198, 6083, 5760, 5326, 6346, 6295, 5640,
               5328, 6538, 5117, 4750, 5122, 4748, 5065, 6134, 1616, 5570, 6265, 5794, 6161, 5382,
               5171, 6172, 5338]
len(Community_11)

142

In [18]:
def transform_id(ls, dictionary):
    for i,idx in enumerate(ls):
        for (key, elem) in dictionary.items():
            if idx == elem:
                ls[i] = key
    return ls

In [19]:
trans_id = transform_id(Community_11, id2idx_dic)

In [20]:
len(trans_id)

142